@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
 scroll-behavior: smooth;
}

.font-poppins {
 font-family: "Poppins", serif;
}

.scrollbar-hide::-webkit-scrollbar {
 display: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
 content: '';
}

.swiper-button-prev,
.swiper-button-next {
 width: initial;
 height: initial;
 font-size: 38px;
}

.swiper-button-prev {
 left: 20px;
}

.swiper-button-next {
 right: 20px;
}

.swiper-pagination-bullet {
 width: 18px;
 height: 18px;
 background: #4ade80;
}

:root {
 --duration: 45s;
}

.rice-img-slide-section {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 3rem;
}

.rice-img-slide-wrapper {
 position: relative;
 display: flex;
 height: 300px;
 width: 1500px;
 overflow: hidden;
 mask-image: linear-gradient(to left, rgba(254, 254, 254, 0), black 20%, black 80%, rgba(254, 254, 254, 0));
}

.img-item {
 position: absolute;
 left: 100%;
 object-fit: cover;
 object-position: center;
 aspect-ratio: 4/3;
 height: inherit;
 border-radius: 15px;
 animation: scrollX var(--duration) linear infinite;
 animation-delay: calc(var(--duration) / var(--totalItems) * (var(--totalItems) - var(--i)) * -1);
}

/* #block-appear {
 animation: appear 5s linear;
 animation-timeline: view();
 animation-range: entry 0% cover 40%;
}

#block-appear-slide {
 animation: appear-slide 5s linear;
 animation-timeline: view();
 animation-range: entry 0% cover 40%;
} */

@keyframes scrollX {
 to {
  left: -100%;
 }
}

/* @keyframes appear-slide {
 from {
  opacity: 0;
  transform: translateX(-100px);
 }
 to {
  opacity: 1;
  transform: translateX(0px);
 }
}

@keyframes appear {
 from {
  opacity: 0;
  scale: 0.5;
 }
 to {
  opacity: 1;
  scale: 1;
 }
} */

@media (max-width: 1400px) {
 .rice-img-slide-wrapper {
  height: 20vw;
 }
}